.btn
  width: 170px
  height: 49px
  border-radius: 10px
  border: 0
  background-color: $primary-color
  color: $text-color
  +ff-bold
  font-size: 13px
  cursor: pointer
  &:hover
    background-color: lighten($primary-color, 10%)
  &:focus
    outline: none
