$lg: 1232px
$md: 992px
$sm: 768px
$xs: 660px
$xxs: 450px

@media (max-width: $lg)
  .container
    width: 95%
  .modal
    &-dialog
      width: 90%
    &-form-wrap
      padding: 40px
    &-info
      padding: 40px
      &__item
        font-size: 16px
    &-cards
      margin-bottom: 20px
      &__item
        margin-bottom: 7px
      &__img
        width: 100px
      &__title
        font-size: 14px
        &::after
          margin-top: 7px
          margin-bottom: 7px
      &__paragraph        
        font-size: 14px        
    &-form
      &__title
        font-size: 21px
        line-height: 24px
        margin-bottom: 20px
      &__subtitle
        font-size: 15px
        margin-bottom: 20px
      &__input[type="text"]
        height: 60px
      &__input[type="tel"]
        height: 60px
      &__input
        margin-bottom: 15px
      &__btn
        height: 60px
        margin-bottom: 15px
  // /* end modal*/
  .portfolio
    padding: 70px 0 155px
    .container
      &::before
        top: -70px
        left: -143px
        height: 614px
    &__title
      margin-bottom: 72px
    &-slider
      max-width: 942px
      right: -15px
      &__item
        margin-right: 15px
  .arrow
    bottom: -67px        
  /*end portfolio*/        
@media (max-width: $md)
  .hidden-md
    display: none
  .visible-inline-mdf
    display: inline
  .main
    &__title
      font-size: 3rem
    &__subtitle
      font-size: 1.5rem
  .modal
    &-dialog
      grid-template-areas: 'modal-form' 'modal-info' 
      grid-template-columns: 1fr
      // margin: 20px
    &-form-wrap
      padding: 20px      
    &-form
      &__title
        font-size: 19px
        line-height: 25px
        margin-bottom: 15px
      &__subtitle
        font-size: 14px
        margin-bottom: 15px
      &__input[type="text"]
        height: 50px
      &__input[type="tel"]
        height: 50px
      &__input
        margin-bottom: 7px
      &__btn
        height: 50px
        margin-bottom: 10px
      &-info
        &__phone
          display: inline
          // margin-top: 5px
          a
            font-size: 16px
    &-info
      padding: 10px 30px
    &-cards
      flex-direction: row
      justify-content: space-around
      flex-wrap: wrap
      // margin: 0 10px
      &__item
        width: 140px
        margin-right: 4px
        &:last-of-type
          margin-right: 0
      &__title
        font-size: 14px
        &::after
          height: 1px
          margin-top: 5px
          margin-bottom: 5px
          width: 100%
      &__paragraph
        font-size: 12px
      
    &-tooltip
      position: fixed
      top: 0
      left: 0
      border: 1px solid #333333
      background-color: #ffffff
      padding: 5px

    &-dialog
      width: 90%
    &-form-wrap
      padding: 40px
    &-info
      padding: 40px
      &__item
        font-size: 16px
    &-cards
      margin-bottom: 20px
      &__item
        margin-bottom: 7px
      &__img
        width: 100px
      &__title
        font-size: 14px
        &::after
          margin-top: 7px
          margin-bottom: 7px
      &__paragraph        
        font-size: 14px        
    &-form
      &__title
        font-size: 21px
        line-height: 24px
        margin-bottom: 20px
      &__subtitle
        font-size: 15px
        margin-bottom: 20px
      &__input[type="text"]
        height: 60px
      &__input[type="tel"]
        height: 60px
      &__input
        margin-bottom: 15px
      &__btn
        height: 60px
        margin-bottom: 15px
  // /* end modal*/
  .portfolio
    padding: 60px 0 135px
    background: url('../img/portfolio/portfolio-bg.png') repeat
    .container
      &::before
        display: none
    &__title
      font-size: 26px
      margin-bottom: 52px
    &-slider
      max-width: 720px //($sm * 0.95)
      // right: -5px
      &__item
        margin-right: 15px
  .arrow
    bottom: -57px
    &-prev
      transform: translateX(-38px)
    &-next
      transform: translateX(8px)
  /*end portfolio*/    
@media (max-width: $sm)
  .main
    &-wrap
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 50px 20px
    &-text
      text-align: center
      // max-width: $sm
      max-width: 450px
    &__title
      margin-bottom: 40px
    &-advantages
      margin: 0 auto
      text-align: left
    &-img
      max-width: 450px
    //   display: none
  .feedback
    padding: 50px 20px
    &-form
      max-width: $sm
      text-align: center
      &__title
        font-size: 2.2rem
        line-height: 30px
        margin-bottom: 25px
      &__subtitle
        font-size: 1.3rem
        margin-bottom: 35px
      &::after
        display: none
      &-info
        margin: 0 auto
        text-align: left  
  /* end feedback */
  .portfolio
    &__title
      font-size: 22px
    &-slider
      max-width: 625px //($xs * 0.95)
  /*end portfolio*/    
@media (max-width: $xs)  
  .hidden-xs
    display: none
  .visible-xs
    display: block
  .feedback-form    
    &__title
      // margin-bottom: 20px
    &__input
      display: block
      &:first-child
        margin-right: auto     
      margin-right: auto
      margin-left: auto
    &__btn
      width: $xs - 300px
      width: 270px
      font-size: 1.4rem
    &-info    
      width: 270px
      margin-right: auto
      margin-left: auto  
      &__text       
        width: 270px
        margin-right: 0px
        text-align: center
        font-size: 1.2rem
  // /* end feedback*/
  .portfolio
    &__title
      margin-bottom: 32px
    &-slider
      max-width: 370px 
      right: 0
      &__item
        margin-right: 0
  /* end portfolio */
@media (max-width: $xxs)  
  .hidden-xxs
    display: none
  .header
    &-text
      &__contacts
        margin-right: 5px
      &__phone
        font-size: 1.4rem
    &-logo 
      width: 40%
      img
        object-fit: contain
  .main
    &__title
      font-size: 2.5rem
      // margin-bottom: 10px
      margin-bottom: 25px
    &__subtitle
      font-size: 1.2rem
      margin-top: 10px        
  .feedback-form
    &__title
      font-size: 2rem
      margin-bottom: 20px
    &__subtitle
      font-size: 1.2rem
      margin-bottom: 25px
  // /* end feedback*/
  .portfolio
    padding: 40px 0 115px
    &__title
      font-size: 20px
      margin-bottom: 32px
    &-slider
      max-width: 300px 
      
  /* end portfolio */      