@import 'vars'
@import 'normalize'
@import 'mixins'
@import 'fonts'
@import 'interface'

html
  font-size: $base-text-size
*, *::before, *::after
  box-sizing: border-box
body
  font-family: 'Museo Sans Medium', sans-serif
  background-color: #fff
  color: $text-color
  overflow-x: hidden
.container
  max-width: 1170px
  margin: 0 auto
h1, h2, h3, h4
  margin: 0
img
  max-width: 100%
.hidden
  display: none
.flex
  display: flex !important
.no-wrap
  white-space: nowrap


@import 'header'
@import 'main'
@import 'feedback'
@import 'modal'

@import 'media'