@import 'vars'
@import 'normalize'
@import 'mixins'
@import 'fonts'
@import 'interface'

body
  font-family: 'Museo Sans Medium', sans-serif
  background-color: #fff
  color: $text-color
.container
  max-width: 1170px
  margin: 0 auto
h1, h2, h3, h4
  margin: 0
img
  max-width: 100%


@import 'header'
@import 'main'